# Зависимости
node_modules/

# Скомпилированные файлы
dist/
build/

# Логи и кэш
*.log
*.log.*
coverage/


# Локальные настройки редакторов
.vscode/
.idea/
*.sublime-*

# Личные файлы и секреты
.env
*.key

# Системные файлы
Thumbs.db
.DS_Store